body{
    background-color: rgb(236, 252, 231);
    background-size: 100%;
    background-image:url(./imagens/depositphotos_57966441-stock-illustration-light-green-background-abstract-paper.jpg);
}
header img{
    height: 155px;
    width:155px;
    margin-right: 25px;
    margin-left: 40px;
    
}
.cabecario{
    background: linear-gradient(rgb(154, 235, 165),rgb(68, 146, 75));
    align-items: center;
}
.prime{
    background-color: rgb(75, 112, 101)  ;
    border-radius:10px;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    height:70px;
    display:flex
}
.cabecario h1{
    font-family: Consolas;
    font-size: 60px;
}
.infoimg{
    background-color: rgb(173, 162, 162);
    margin-top: 35px;
    border: solid 3px rgb(75, 112, 101);
    border-radius: 15px;
    height:550px;
    width:700px;
    
}
.infoimg img{
    height:545px;
    width:695px;
    border-radius: 15px;

} 
.info1{
    margin-top: 35px;
    margin-left: 10px ;
    border-radius: 15px;
    text-align: justify
}       
.tabela{
    margin-left: 10%;
    margin-right: 10%;
}  
.divisao{
    height:100px;
    width:100px;
} 
.textos{
    color:rgb(32, 39, 58);
    line-height: 30px;
    font-size: 22px ;
    font-family: 'Times New Roman', Times, serif    ;
    font-weight: 450;
}
.collapse button{
    height: 30px;
    width: 270px;
    margin:10px !important;
}
.cabecario_fml{
    background: linear-gradient(rgb(154, 235, 165),rgb(68, 146, 75));
    align-items: center;
}
.cabecario_fml h1{
    font-family: Consolas;
    font-size: 60px;
}

    

