body{
    background-color: rgb(236, 252, 231);
    background-size: 100%;
    background-image:url(./imagens/depositphotos_57966441-stock-illustration-light-green-background-abstract-paper.jpg);
}
header img{
    height: 100%;
    width:100px;
    margin-right: 25px;
    margin-left: 40px;
    
}
.cabecario{
    border: solid 5px black;
    border-radius: 10px;
    background: linear-gradient(rgb(148, 228, 158),rgb(77, 114, 80));
    margin-left: 5%;
    margin-right:5%;
    align-items: center;
}
.prime{
    border: solid 3px black;
    border-radius:10px;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    
}
.prime button{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 140px;
    margin-right: 50px;
    text-align: center;
    border: solid 2px black;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.cabecario h1{
    font-family: Consolas;
}
.infoimg{
    background-color: rgb(173, 162, 162);
    margin-top: 35px;
    border: solid 2px black;
    border-radius: 15px;
    
}
.infoimg img{
    height:550px;
    width:700px;
    border-radius: 15px;

} 
.info1{
    background-color: rgb(173, 162, 162);
    margin-top: 35px;
    border: solid 2px black;
    border-radius: 15px;
}       
.tabela{
    margin-left: 15%;
    margin-right: 15%;
}  
.divisao{
    height:100px;
    width:100px;
} 
.textos{
    color:rgb(46, 0, 0);
}

